<header class="topbar">
  <div class="topbar-inner">
    <div class="topbar-left">
      <a routerLink="/trips" class="brand" aria-label="JournHive home">
        <span class="brand-mark"><mat-icon>travel_explore</mat-icon></span>
        <span class="brand-name"><span class="brand-journ">Journ</span>Hive</span>
      </a>
    </div>

    <div class="topbar-right">
      <div class="account">
        <button type="button" class="avatar-btn" (click)="toggleUserMenu($event)"
          [attr.aria-expanded]="showUserMenu" aria-haspopup="menu" aria-label="Account menu">
          <span class="avatar">{{ userInitial }}</span>
          <mat-icon class="chevron" [class.open]="showUserMenu">expand_more</mat-icon>
        </button>

        <div class="user-menu" *ngIf="showUserMenu" role="menu" (click)="$event.stopPropagation()">
          <div class="user-info">
            <span class="avatar avatar-lg">{{ userInitial }}</span>
            <div class="user-details">
              <span class="user-label">Signed in as</span>
              <span class="user-name" [title]="userEmailId">{{ userEmailId }}</span>
            </div>
          </div>

          <button type="button" role="menuitem" class="menu-item" routerLink="/trips" (click)="closeMenu()">
            <mat-icon>luggage</mat-icon>
            My trips
          </button>

          <div class="menu-divider"></div>

          <button type="button" role="menuitem" class="menu-item danger" (click)="logout()">
            <mat-icon>logout</mat-icon>
            Log out
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
